%header{style: 'background-color: #eee; padding: 20px 0px 20px 0px;'}
  .container
    .row
      .span12{style: 'text-align:center;'}
        %h1
          %span{style: 'color:red;'}= 'QAP '
          %span{style: 'color: #444;'}= 'CMS'


.add_file_form{style: 'background-color: rgba(255,0,0,0.5); padding: 66px 0px 55px 0px;'}
  .container
    .row
      .span12{style: 'text-align:center;'}
        %p{style: 'padding: 0px 0px 18px 0px;'}
          Сервис хранения видеоматериалов и исследований
        = form_tag upload_path, remote: true do
          %p
            %button#file_select.btn.btn-large.btn-success{type: "button", style: 'padding: 16px 18px 19px 15px; font-size:2em;'} Выберите файл
          %p{style: 'display: none'}
            = file_field_tag 'file', style: 'visibility: hidden; width: 0; height: 0;'
          %p#load_button
            = button_tag 'Загрузить', class: 'btn'

.files
  .container
    .files_filter{style: 'padding: 33px 0px 0px 0px'}
      .row
        .span12
          %ul.nav.nav-pills
            %li.active
              %a{href: '#'}
                видеоматериалы
            %li
              %a{href: '#'}
                исследования
    .files_list_header
    .files_list
      .file

    %table
      %thead
        %tr
          %th
          %th= 'тип файла'

      %tbody
        %tr
          %td
            %i.icon-play
          %td= 'mp4'

